* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 50px;
  box-sizing: border-box;
}

/* Navbar Start */
header {
  padding: 3px 2.2%;
  top: 0px;
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

header img {
  max-width: 60px;
  margin-right: auto;
}

#navbar li {
  display: inline-block;
  list-style: none;
  padding: 0px 11px;
}

.nav-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

#navbar a {
  box-shadow: inset 0 0 0 0 white;
  transition: 0.3s;
  padding: 5px 5%;
  border: 1px solid white;
  overflow: hidden;
}

#navbar a:hover {
  box-shadow: inset 120px 0 0 0 white;
  color: black;
}

/* Navbar End */

/* Beginning Background Start */
#intro {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(images/spaceChaseNewFinal.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#slider-text1 {
  animation: slide 5s infinite;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-left {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: white;
  font-size: 75px;
  font-weight: bold;
}

.slider {
  height: 96px;
  padding-left: 20px;
  padding: 2px 0px 2px 15px;
  text-align: center;
}

.sub-intro {
  color: white;
  margin-top: 60px;
  font-size: 25px;
}

/* Beginning Background End */

/* Main Section Start */

/* Text Classes Start */
.title {
  background: black;
  color: white;
  padding: 15px 0;
  padding-top: 30px;
}

.heading {
  margin-left: 20%;
  border: 1px solid white;
  padding: 5px;
  width: 250px;
  font-size: 30px;
}

.text {
  padding: 15px 0;
  width: 60%;
  margin: auto;
  font-size: 17px;
  line-height: 1.5;
}

.caption {
  color: white;
  font-style: italic;
}

strong {
  text-decoration: underline;
}

.list {
  padding: 15px 0;
  width: 60%;
  margin: auto;
  margin-left: calc(20px + 20%);
  font-size: 17px;
  line-height: 1.5;
}

.link {
  color: #00c3ff;
  box-shadow: inset 0 0 0 0 #42a4b3;
  transition: 0.3s;
}

.link:hover {
  color: white;
  box-shadow: inset 300px 0 0 0 #42a4b3;
}

footer {
  background: black;
  color: white;
  padding: 20px;
  line-height: 2;
}

/* Text Classes End */

/* Specific Sections Start */

/* About Boxes Start */
#box-container {
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.about-box {
  display: inline-block;
  width: 25%;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 5px 3px #AAAAAA;
}

.box-heading {
  padding: 5px;
  color: white;
  background: black;
  font-size: 25px;
}

.box-text {
  text-align: left;
  padding: 15px;
  line-height: 2;
}

/* About Boxes End */

/* Services Start*/
#services-container {
  width: 60%;
  padding: 15px 0;
  margin: auto;
}

.services-heading {
  padding: 5px;
  color: white;
  background: black;
  font-size: 25px;
}

.img-container {
  display: inline-block;
}

.img {
  width: calc(100% / 3);
}

/* Services End */

/* Specific Sections End */

#content {
  margin: auto;
  justify-items: center;
}

/* Main Section End */

/* Animations */
@keyframes slide {
  0% {
    margin-top: -287px;
  }

  33% {
    margin-top: -194px;
  }

  66% {
    margin-top: -97px;
  }

  100% {
    margin-top: 0px;
  }
}