* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 50px;
}

/* Navbar Start */
header {
  padding: 0px;
  top: 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

#navbar {
  float: right;
}

#navbar ul {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

#navbar li {
  list-style: none;
  padding: 0 20%;
}

.nav-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

#navbar a {
  box-shadow: inset 0 0 0 0 white;
  transition: 0.3s;
  padding: 5px 5%;
  border: 1px solid white;
  overflow: hidden;
}

#navbar a:hover {
  box-shadow: inset 120px 0 0 0 white;
  color: black;
}

/* Navbar End */

/* Beginning Background Start */
#intro {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(images/spaceChaseNewFinal.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#slider-text1 {
  animation: slide 5s infinite;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-left {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: white;
  font-size: 75px;
  font-weight: bold;
}

.slider {
  height: 96px;
  padding-left: 20px;
  padding: 2px 15px;
  text-align: center;
}

/* Beginning Background End */

/* Main Section Start */

/* Text Classes Start */
.title {
  background: black;
  color: white;
  padding: 15px 0;
  padding-top: 30px;
}

.heading {
  margin-left: 20%;
  border: 1px solid white;
  padding: 5px;
  width: 200px;
}

.text {
  padding: 15px 0;
  width: 60%;
  margin: auto;
  font-size: 17px;
  line-height: 1.5;
}

.caption {
  color: white;
  font-style: italic;
}

footer {
  background: black;
  color: white;
  padding: 20px;
  line-height: 2;
}
/* Text Classes End */

#content {
  margin: auto;
  justify-items: center;
}

/* Animations */
@keyframes slide {
  0% {
    margin-top: -287px;
  }
  33% {
    margin-top: -194px;
  }
  66% {
    margin-top: -97px;
  }
  100% {
    margin-top: 0px;
  }
}
